<!DOCTYPE html>
<html>
<head>
<title>FastWhatWebSearch</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
</head>
<body>
{% block index %}{% endblock %}
<div class="container well" style="margin-top: 10%">
    <div class="row">
        <div class="footer text-center">
    <div class="footer-title">
        <h4>@Rvn0xsy Blog:http://payloads.online </h4>
    </div>
    <div class="footer-banner">
        <small>Development by Rvn0xsy</small>
    </div>
</div>
    </div>
</div>
</body>
</html>
